.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100%;
  background: linear-gradient(90deg, white 50%, #f1a363 50%);
}

.image1-content {
  float:left;
  border-radius:10%;
  overflow:hidden;
  left: 80px;
  position: absolute;
}

.dashes {
  background-image: repeating-linear-gradient(-45deg,
  transparent 0 20px,
  black 1% 22px);
} 

 .text-card {
  font-family: "Montserrat";
  float:right;
  width: 400px;
  height: 250px;
  background-color: #F7E3D3;
  padding: 5px 5px 5px 0px;
  border-radius: 6%;
  position: relative;
  top:110px;
  right: 140px;
  text-align: center;
 }

 .button-class {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  background-color: rgb(250, 52, 2);
 }